@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 780px
}

.btn-upload {
    background-color: transparent;
    color: #895FF4;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #895FF4;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}
